<!DOCTYPE html>
<html lang="en">
    <style>
        .subtitle2TextStyle{
            border: 1px solid #B8B8B8; 
            border-radius: 16px; 
            font-size: 16px; 
            font-style: normal; 
            font-weight: 400; 
            line-height: 16px; 
            padding: 16px 0px;
        }
        .subtitle3BoldTextStyle{
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 14px;
            color: #9B9B9B;
        }
        .bodyTextStyle{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #9B9B9B;
            text-align: start;
        }
        .bottonDisable{
            position: fixed;
            bottom: 24px;
            left: 30%;
            right: 30%;
            color: #9B9B9B;
            display: flex;
            padding: 12px 24px;
            text-align: center;
            gap: 10px;
            border-radius: 22px;
            background: var(--state-disabled, #E6E6E6);
            border: none;
            text-align: center;
        }
        .bottonEnable{
            position: fixed;
            bottom: 24px;
            left: 30%;
            right: 30%;
            color: #FFFFFF;
            display: flex;
            padding: 12px 24px;
            align-items: flex-start;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 22px;
            background: var(--Primary, #72D9E2);
            box-shadow: 0px 2px 6px 0px rgba(96, 96, 96, 0.30);
            border: none;
            text-align: center;
        }
    </style>
<head>
    <title>ChomChob</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="asset/image/banner.png">
        <div style="margin: 0% 30% 0% 30%;">
            <h2 style="text-align: start;">Redeem Code</h2>
            <input type="text" id="textCtl" onkeyup="textDisable()" class="subtitle2TextStyle" style="width: 100%;" placeholder="Enter your code">
            <p class="subtitle3BoldTextStyle">เงื่อนไขการรับสิทธิ์</p>
            <ol class="bodyTextStyle" style="padding: 16px 0px 100px 16px;">
                <li>ไม่จำกัดสิทธิ์การแลกต่อลูกค้า 1 ท่าน</li>
                <li>หากลูกค้ากดแลกรับสิทธิ์แล้ว ขอสงวนสิทธิ์การคืน Z point ทุกกรณี</li>
                <li>สงวนสิทธิ์การเปลี่ยนแปลงเงื่อนไข โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
                <li>ไสิทธิพิเศษนี้ ไม่สามารถเปลี่ยนแปลงเป็นเงินสดได้</li>
            </ol>
        </div>
        <button id="buttonCtl" class="bottonDisable">Redeem</button>
    </div>
</body>
<script>
    function textDisable(){
        if(document.getElementById("textCtl").value){
            addTextStyle("bottonEnable","bottonDisable");
        }
        else{
            addTextStyle("bottonDisable","bottonEnable");
        }
    }
    function addTextStyle(add,remove){
        document.getElementById("buttonCtl").classList.remove(remove);
        document.getElementById("buttonCtl").classList.add(add);
    }
</script>
</html>